html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}

body { 
  font-family: sans;
  padding-top: 5vh;
  background-color: black; 
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: gray
}

p {
  font-size: 20px;
}

.hero-header {
  display: inline-block; 
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.2); 
  border-radius: 15px;
  width: 100%;
}

.twitter-container {
  display: inline-block
}